@* 
This file is part of SayedHa.Flashcards.

SayedHa.Flashcards is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SayedHa.Flashcards is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with SayedHa.Flashcards.  If not, see <https://www.gnu.org/licenses/>.
*@
@page "/"
@using SayedHa.Flashcards.Shared
@inject HttpClient Http
@inject FlashcardWeb FlashcardWeb
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

@if(currentFlashcard != null){
    <nav id="mainMenu">
        <span class="empty"></span>
        <ul>
            <li @onclick="ShowDefaultCards"><fast-anchor href="#" role="button">🏠</fast-anchor></li>
            <li @onclick="ShowLetters"><fast-anchor href="#" role="button"><img src="media/letters.svg" alt="letters" /></fast-anchor></li>
            <li @onclick="ShowNumbers"><fast-anchor href="#" role="button"><img src="media/numbers.svg" alt="numbers" /></fast-anchor></li>
            <li @onclick="ShowShapes"><fast-anchor href="#" role="button"><img src="media/shapes-icon.svg" alt="shapes" /></fast-anchor></li>
            <li @onclick="ShowAddition"><fast-anchor href="#" role="button">➕</fast-anchor></li>
            <li>
                <fast-anchor role="button" class="nav-link" href="numbers" Match="NavLinkMatch.All">
                    <img src="media/numbersgame.svg" alt="numbers game" />
                </fast-anchor>
            </li>
            <li>
                <fast-anchor role="button" class="nav-link" href="counting" Match="NavLinkMatch.All">
                    <img src="media/counting.svg" alt="counting game" />
                </fast-anchor>
            </li>
            <li>
                <fast-anchor href="spellmemory" role="button">🧠</fast-anchor>
            </li>
            <li>
                <fast-anchor href="findletter" role="button">🔍</fast-anchor>
            </li>
            <li>
                <fast-anchor href="clicknumber" role="button">💣</fast-anchor>
            </li>
        </ul>
        <span class="empty"></span>
    </nav>
    <main id="mainContent">
        <span class="previousCardButton">
            <img src="left-arrow.svg" class="navButton" alt="left arrow" @onclick="MovePrevious" />
        </span>
        <FlashcardView Flashcard="@currentFlashcard" />
        <span class="nextCardButton">
            <img src="left-arrow.svg" class="navButton" alt="right arrow" @onclick="MoveNext" />
        </span>
    </main>
    
@*    <div>
        <a @onclick="ShowAddition">addition</a>
    </div>*@
}
else{
    <p class="loading"></p>
}

@if(FlashcardWeb == null){
    <h1>flashcardweb null</h1>
}

@code{
    Flashcard currentFlashcard = null;

    protected async Task<List<SayedHa.Flashcards.Shared.Flashcard>> GetFlashcards() => await FlashcardWeb.GetFlashcardsAsync("samay");

    protected IFlashcardList _flashcardList;
    private IFlashcardList FlashcardList
    {
        get
        {
            return _flashcardList;
        }
        set
        {
            _flashcardList = value;
            if (_flashcardList != null)
            {
                currentFlashcard = _flashcardList.GetCurrent();
            }
        }
    }
    protected override async Task OnInitializedAsync() {

#if DEBUGdddddd
    await Task.Delay(10000);
#endif

        if(FlashcardWeb != null) {
            FlashcardList = new FlashcardList(await GetFlashcards());
            //_flashcardList = new AdditionFlashcardList(1, 9, 10);
            //currentFlashcard = _flashcardList.GetCurrent();
        }
    }
    private void MoveNext()
    {
        FlashcardList.MoveNext();
        currentFlashcard = _flashcardList.GetCurrent();
    }
    private void MovePrevious()
    {
        FlashcardList.MovePrevious();
        currentFlashcard = _flashcardList.GetCurrent();
    }

    private void ShowAddition() {
        FlashcardList = new AdditionFlashcardList(1, 9, 25);
        //currentFlashcard = _flashcardList.GetCurrent();
    }
    private async Task ShowShapes()
    {
        FlashcardList = new FlashcardList(await FlashcardWeb.GetFlashcardsAsync("shapes"));
        //currentFlashcard = _flashcardList.GetCurrent();
    }
    private async Task ShowLetters()
    {
        FlashcardList = new FlashcardList(await FlashcardWeb.GetFlashcardsAsync("letters"));
    }
    private async Task ShowNumbers()
    {
        FlashcardList = new FlashcardList(await FlashcardWeb.GetFlashcardsAsync("numbers"));
    }
    private async Task ShowDefaultCards() {
        // probably should cache these cardLists, exception being pages
        // like the Addition page
        // should implement some general way to caches these files
        FlashcardList = new FlashcardList(await GetFlashcards());
        //currentFlashcard = _flashcardList.GetCurrent();
    }
}