@page "/"
@using SayedHa.Flashcards.Shared
@inject HttpClient Http
@inject FlashcardWeb FlashcardWeb

@if(currentFlashcard != null){
    <span class="previousCardButton">
        <img src="left-arrow.svg" class="navButton" alt="left arrow" @onclick="MovePrevious" />
    </span>
    <FlashcardView Text="@currentFlashcard.Text" ImageUrl = "@currentFlashcard.ImageUrl" />
    <span class="nextCardButton">
        <img src="left-arrow.svg" class="navButton" alt="left arrow" @onclick="MoveNext" />
    </span>
}
else{
    <p class="loading"></p>
}

@if(FlashcardWeb == null){
    <h1>flashcardweb null</h1>
}

@code{
    List<Flashcard> Flashcards = null;
    int currentIndex = 0;
    Flashcard currentFlashcard = null;

    protected async Task<List<SayedHa.Flashcards.Shared.Flashcard>> GetFlashcards() => await FlashcardWeb.GetFlashcardsAsync("samay");

    protected override async Task OnInitializedAsync() {
#if DEBUGDDDDD
    await Task.Delay(10000);
#endif

        if(FlashcardWeb != null) {
            Flashcards = await GetFlashcards();
            if (Flashcards != null && Flashcards.Count > 0) {
                currentFlashcard = Flashcards[currentIndex];
            }
            else {
                Console.WriteLine("Flashcards null");
            }    
        }
    }

    private void MoveNext()
    {
        if (Flashcards.Count > 0)
        {
            currentIndex = (currentIndex + 1) % Flashcards.Count;
            currentFlashcard = Flashcards[currentIndex];
        }
        else{
            Console.WriteLine("Flashcards is null or empty");
        }
    }
    private void MovePrevious()
    {
        if (Flashcards.Count > 0)
        {
            currentIndex = (currentIndex - 1) % Flashcards.Count;
            if(currentIndex < 0){
                currentIndex = Flashcards.Count - 1;
            }
            currentFlashcard = Flashcards[currentIndex];
        }
        else{
            Console.WriteLine("Flashcards is null or empty");
        }
    }
}