@* 
This file is part of SayedHa.Flashcards.

SayedHa.Flashcards is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SayedHa.Flashcards is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with SayedHa.Flashcards.  If not, see <https://www.gnu.org/licenses/>.
*@
@inject NavigationManager uriHelper
@inject IJSRuntime JsRuntime
@page "/numbers"
@using System.Diagnostics
<audio id="audio-restart-game">
    <source src="media/xp-restart.mp3">
</audio>
<span id="mainMenu">
    <ul>
        <li>
            <span @onclick="GoHome">🏠</span>
        </li>
        <li>
           <img src="media/refersh.svg" alt="refresh" @onclick="RefershPage" />
        </li>
    </ul>
</span>
<NumberTableGameView @ref="numberGameView" NumItems="25" Stopwatch="stopwatch" />

<TimerView Stopwatch="stopwatch" />

@code {
    private Stopwatch stopwatch = new Stopwatch();
    private NumberTableGameView numberGameView;

    private void RefershPage() {
        // uriHelper.NavigateTo("/numbers", forceLoad: true);
        JsRuntime.InvokeAsync<string>("PlayAudio", $"audio-restart-game");
        numberGameView.Reset();

    }

    private void GoHome() {
        
        uriHelper.NavigateTo("/", forceLoad: true);
    }
}
