@*
This file is part of SayedHa.Flashcards.

SayedHa.Flashcards is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SayedHa.Flashcards is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with SayedHa.Flashcards.  If not, see <https://www.gnu.org/licenses/>.
*@
@inject NavigationManager uriHelper
@inject IJSRuntime JsRuntime
@page "/spellmemory"

<nav>
    <span class="empty"></span>
    <span id="mainMenu">
        <ul>
            <li>
                <fast-anchor role="button" @onclick="GoHome" class="nav-link" Match="NavLinkMatch.All">
                    <a role="button">🏠</a>
                </fast-anchor>
            </li>
            <li>
                <fast-anchor role="button" @onclick="RefershPage" class="nav-link" Match="NavLinkMatch.All">
                    <img src="media/refersh.svg" alt="refresh" @onclick="RefershPage" />
                </fast-anchor>
            </li>
        </ul>
    </span>
    <span class="empty"></span>
</nav>
<main id="memoryGrid">
    @foreach (var item in GetSpellItemsToDisplay()) {
        <div hidden="@(!item.IsVisible)"> @item.Text </div>
    }
</main>

@code {
    private List<SpellMemoryItem> GetSpellItems() {
        // todo: replace this method
        var items = new List<string> {
            "tell",
            "fell",
            "yell",
            "sell",
            "shell",
            "bell",
            "spell",
            "well"
        };
        var spellItems = new List<SpellMemoryItem>();
        foreach(var item in items) {
            spellItems.Add(new SpellMemoryItem { Text = item, IsVisible = true, WasFound = false });
        }

        return spellItems;
    }
    private List<SpellMemoryItem> GetSpellItemsToDisplay() {
        var items = GetSpellItems();
        // make a list that has each item twice and then randomize it
        var spellItems = new List<SpellMemoryItem>();
        foreach(var item in items) {
            spellItems.Add(item);
            spellItems.Add(item);
        }
        spellItems.Shuffle();
        return spellItems;
    }
    private void RefershPage() {
        // uriHelper.NavigateTo("/numbers", KnownValues.ForceLoad);
        JsRuntime.InvokeAsync<string>("PlayAudio", $"audio-restart-game");
        // TODO: Call reset on the grid to restart
    }
    private void GoHome() {
        uriHelper.NavigateTo("/", KnownValues.ForceLoad);
    }
}
