/*
This file is part of SayedHa.Flashcards.

SayedHa.Flashcards is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SayedHa.Flashcards is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with SayedHa.Flashcards.  If not, see <https://www.gnu.org/licenses/>.
*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

:root {
    /*color palette*/
    --bgcolor: #eeeeee;
    --pgheadercolor: #393e46;
    --altcolor1: #aad8d3;
    --altcolor2: #00adb5;
    --codefont: "Cascadia Code","Menlo Regular","Lucida Console",monospace;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%
}
footer{
    font-size: 1vw;
    font-family: Georgia,Times,Times New Roman,serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}
#app, .page, .main {
    height: 100%;
}
body {
    /* background-color: var(--bgcolor); */
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 4vw;
}
.main {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}
.loading::before{
    content: "loading....."
}
.flashcard-answer[hidden]{
    visibility: hidden;
}

.navButton {
    width: 5vw;
    height: 5vw;
}
.nextCardButton .navButton {
    transform: rotate(180deg);
}
.previousCardButton, .nextCardButton{
    cursor: pointer;
    /* add padding to make tap target larger for ease of use */
    padding: 3vw;
}
.flashcard {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.flashcard-answer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}
.flashcard-image {
    height: 50vw;
    width: 100%;
    object-fit: contain;
}
.flashcard-questiontext{
    width: 100%;
    font-size: 15vw;
    text-align: center;
}
.flashcard-speaker{
    width: 4vw;
    padding: 4vw;
    cursor: pointer;
}