/*************************
*   NumbersGame
**************************/
.ntg {
    padding-left: 3vw;
    padding-right: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.ntg-item {
    width: min(14vw,14vh);
    height: min(14vw,14vh);
    line-height: min(14vw,14vh);
    font-size: 5vw;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 900;
}

    .ntg-item[beenselected] {
        /*visibility: hidden;*/
        animation-name: myAnimation;
        animation-duration: 100ms;
        animation-fill-mode: forwards;
    }
.ntg-container[ntgfinished] {
    background-color: black;
    color: white;
}
/***************************************
    Disapper animation
****************************************/
@keyframes myAnimation {
    0% {
        opacity: 1;
        transform: rotateX(90deg);
        transform: scale(0.75,0.75);
    }

    50% {
        opacity: 0.5;
        transform: rotateX(0deg);
        transform: scale(0.5,0.5);
    }

    100% {
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
        transform: scale(0.25,0.25);
    }
}

/***************************************
    Fireworks animation
****************************************/
/* css fireworks: https://codepen.io/yshlin/pen/ylDEk*/
.pyro > .before, .pyro > .after {
    position: absolute;
    top:0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: 12px -325.6666666667px #00ff51, -138px -153.6666666667px #00ff22, 84px -280.6666666667px #ff3c00, -203px -354.6666666667px #00ff40, 85px -306.6666666667px #ff00e6, 175px 10.3333333333px #00fff7, 174px -226.6666666667px #f700ff, 246px -330.6666666667px #ffee00, 95px -133.6666666667px #ffd500, 25px -9.6666666667px #ff0037, 199px -53.6666666667px #00b7ff, -140px 35.3333333333px #15ff00, 21px -161.6666666667px #ff00e1, 167px -202.6666666667px #00ffe1, 236px -153.6666666667px #006fff, 98px 4.3333333333px #40ff00, 63px -265.6666666667px #33ff00, 51px -147.6666666667px #ff00fb, 14px 21.3333333333px #eeff00, -126px -134.6666666667px #00ffea, 146px -290.6666666667px #b7ff00, 187px -118.6666666667px #006fff, -59px -136.6666666667px #00ffd0, 117px -68.6666666667px #00fbff, 10px -280.6666666667px #00b3ff, -89px -225.6666666667px #00ff84, -244px 25.3333333333px #fff200, 120px -212.6666666667px #00fbff, 248px -415.6666666667px #00bbff, -71px -408.6666666667px #002bff, 128px -326.6666666667px #00d9ff, -16px -373.6666666667px #ffbb00, 44px -82.6666666667px #59ff00, 99px 18.3333333333px blue, -89px -30.6666666667px #0044ff, -121px 74.3333333333px #2bff00, 166px 36.3333333333px #8400ff, 205px -90.6666666667px fuchsia, -228px -81.6666666667px #ff006f, -234px -230.6666666667px #0073ff, 234px -196.6666666667px #ff6600, -153px 79.3333333333px #0088ff, 125px 65.3333333333px #7bff00, 6px -135.6666666667px #99ff00, -7px -81.6666666667px #0004ff, -232px 19.3333333333px #8cff00, 61px -292.6666666667px #001eff, 150px 2.3333333333px #55ff00, 76px -339.6666666667px #00ff2b, 59px -333.6666666667px #00ffe6, 97px 38.3333333333px #bbff00;
    }
}

@-moz-keyframes bang {
    to {
        box-shadow: 12px -325.6666666667px #00ff51, -138px -153.6666666667px #00ff22, 84px -280.6666666667px #ff3c00, -203px -354.6666666667px #00ff40, 85px -306.6666666667px #ff00e6, 175px 10.3333333333px #00fff7, 174px -226.6666666667px #f700ff, 246px -330.6666666667px #ffee00, 95px -133.6666666667px #ffd500, 25px -9.6666666667px #ff0037, 199px -53.6666666667px #00b7ff, -140px 35.3333333333px #15ff00, 21px -161.6666666667px #ff00e1, 167px -202.6666666667px #00ffe1, 236px -153.6666666667px #006fff, 98px 4.3333333333px #40ff00, 63px -265.6666666667px #33ff00, 51px -147.6666666667px #ff00fb, 14px 21.3333333333px #eeff00, -126px -134.6666666667px #00ffea, 146px -290.6666666667px #b7ff00, 187px -118.6666666667px #006fff, -59px -136.6666666667px #00ffd0, 117px -68.6666666667px #00fbff, 10px -280.6666666667px #00b3ff, -89px -225.6666666667px #00ff84, -244px 25.3333333333px #fff200, 120px -212.6666666667px #00fbff, 248px -415.6666666667px #00bbff, -71px -408.6666666667px #002bff, 128px -326.6666666667px #00d9ff, -16px -373.6666666667px #ffbb00, 44px -82.6666666667px #59ff00, 99px 18.3333333333px blue, -89px -30.6666666667px #0044ff, -121px 74.3333333333px #2bff00, 166px 36.3333333333px #8400ff, 205px -90.6666666667px fuchsia, -228px -81.6666666667px #ff006f, -234px -230.6666666667px #0073ff, 234px -196.6666666667px #ff6600, -153px 79.3333333333px #0088ff, 125px 65.3333333333px #7bff00, 6px -135.6666666667px #99ff00, -7px -81.6666666667px #0004ff, -232px 19.3333333333px #8cff00, 61px -292.6666666667px #001eff, 150px 2.3333333333px #55ff00, 76px -339.6666666667px #00ff2b, 59px -333.6666666667px #00ffe6, 97px 38.3333333333px #bbff00;
    }
}

@-o-keyframes bang {
    to {
        box-shadow: 12px -325.6666666667px #00ff51, -138px -153.6666666667px #00ff22, 84px -280.6666666667px #ff3c00, -203px -354.6666666667px #00ff40, 85px -306.6666666667px #ff00e6, 175px 10.3333333333px #00fff7, 174px -226.6666666667px #f700ff, 246px -330.6666666667px #ffee00, 95px -133.6666666667px #ffd500, 25px -9.6666666667px #ff0037, 199px -53.6666666667px #00b7ff, -140px 35.3333333333px #15ff00, 21px -161.6666666667px #ff00e1, 167px -202.6666666667px #00ffe1, 236px -153.6666666667px #006fff, 98px 4.3333333333px #40ff00, 63px -265.6666666667px #33ff00, 51px -147.6666666667px #ff00fb, 14px 21.3333333333px #eeff00, -126px -134.6666666667px #00ffea, 146px -290.6666666667px #b7ff00, 187px -118.6666666667px #006fff, -59px -136.6666666667px #00ffd0, 117px -68.6666666667px #00fbff, 10px -280.6666666667px #00b3ff, -89px -225.6666666667px #00ff84, -244px 25.3333333333px #fff200, 120px -212.6666666667px #00fbff, 248px -415.6666666667px #00bbff, -71px -408.6666666667px #002bff, 128px -326.6666666667px #00d9ff, -16px -373.6666666667px #ffbb00, 44px -82.6666666667px #59ff00, 99px 18.3333333333px blue, -89px -30.6666666667px #0044ff, -121px 74.3333333333px #2bff00, 166px 36.3333333333px #8400ff, 205px -90.6666666667px fuchsia, -228px -81.6666666667px #ff006f, -234px -230.6666666667px #0073ff, 234px -196.6666666667px #ff6600, -153px 79.3333333333px #0088ff, 125px 65.3333333333px #7bff00, 6px -135.6666666667px #99ff00, -7px -81.6666666667px #0004ff, -232px 19.3333333333px #8cff00, 61px -292.6666666667px #001eff, 150px 2.3333333333px #55ff00, 76px -339.6666666667px #00ff2b, 59px -333.6666666667px #00ffe6, 97px 38.3333333333px #bbff00;
    }
}

@-ms-keyframes bang {
    to {
        box-shadow: 12px -325.6666666667px #00ff51, -138px -153.6666666667px #00ff22, 84px -280.6666666667px #ff3c00, -203px -354.6666666667px #00ff40, 85px -306.6666666667px #ff00e6, 175px 10.3333333333px #00fff7, 174px -226.6666666667px #f700ff, 246px -330.6666666667px #ffee00, 95px -133.6666666667px #ffd500, 25px -9.6666666667px #ff0037, 199px -53.6666666667px #00b7ff, -140px 35.3333333333px #15ff00, 21px -161.6666666667px #ff00e1, 167px -202.6666666667px #00ffe1, 236px -153.6666666667px #006fff, 98px 4.3333333333px #40ff00, 63px -265.6666666667px #33ff00, 51px -147.6666666667px #ff00fb, 14px 21.3333333333px #eeff00, -126px -134.6666666667px #00ffea, 146px -290.6666666667px #b7ff00, 187px -118.6666666667px #006fff, -59px -136.6666666667px #00ffd0, 117px -68.6666666667px #00fbff, 10px -280.6666666667px #00b3ff, -89px -225.6666666667px #00ff84, -244px 25.3333333333px #fff200, 120px -212.6666666667px #00fbff, 248px -415.6666666667px #00bbff, -71px -408.6666666667px #002bff, 128px -326.6666666667px #00d9ff, -16px -373.6666666667px #ffbb00, 44px -82.6666666667px #59ff00, 99px 18.3333333333px blue, -89px -30.6666666667px #0044ff, -121px 74.3333333333px #2bff00, 166px 36.3333333333px #8400ff, 205px -90.6666666667px fuchsia, -228px -81.6666666667px #ff006f, -234px -230.6666666667px #0073ff, 234px -196.6666666667px #ff6600, -153px 79.3333333333px #0088ff, 125px 65.3333333333px #7bff00, 6px -135.6666666667px #99ff00, -7px -81.6666666667px #0004ff, -232px 19.3333333333px #8cff00, 61px -292.6666666667px #001eff, 150px 2.3333333333px #55ff00, 76px -339.6666666667px #00ff2b, 59px -333.6666666667px #00ffe6, 97px 38.3333333333px #bbff00;
    }
}

@keyframes bang {
    to {
        box-shadow: 12px -325.6666666667px #00ff51, -138px -153.6666666667px #00ff22, 84px -280.6666666667px #ff3c00, -203px -354.6666666667px #00ff40, 85px -306.6666666667px #ff00e6, 175px 10.3333333333px #00fff7, 174px -226.6666666667px #f700ff, 246px -330.6666666667px #ffee00, 95px -133.6666666667px #ffd500, 25px -9.6666666667px #ff0037, 199px -53.6666666667px #00b7ff, -140px 35.3333333333px #15ff00, 21px -161.6666666667px #ff00e1, 167px -202.6666666667px #00ffe1, 236px -153.6666666667px #006fff, 98px 4.3333333333px #40ff00, 63px -265.6666666667px #33ff00, 51px -147.6666666667px #ff00fb, 14px 21.3333333333px #eeff00, -126px -134.6666666667px #00ffea, 146px -290.6666666667px #b7ff00, 187px -118.6666666667px #006fff, -59px -136.6666666667px #00ffd0, 117px -68.6666666667px #00fbff, 10px -280.6666666667px #00b3ff, -89px -225.6666666667px #00ff84, -244px 25.3333333333px #fff200, 120px -212.6666666667px #00fbff, 248px -415.6666666667px #00bbff, -71px -408.6666666667px #002bff, 128px -326.6666666667px #00d9ff, -16px -373.6666666667px #ffbb00, 44px -82.6666666667px #59ff00, 99px 18.3333333333px blue, -89px -30.6666666667px #0044ff, -121px 74.3333333333px #2bff00, 166px 36.3333333333px #8400ff, 205px -90.6666666667px fuchsia, -228px -81.6666666667px #ff006f, -234px -230.6666666667px #0073ff, 234px -196.6666666667px #ff6600, -153px 79.3333333333px #0088ff, 125px 65.3333333333px #7bff00, 6px -135.6666666667px #99ff00, -7px -81.6666666667px #0004ff, -232px 19.3333333333px #8cff00, 61px -292.6666666667px #001eff, 150px 2.3333333333px #55ff00, 76px -339.6666666667px #00ff2b, 59px -333.6666666667px #00ffe6, 97px 38.3333333333px #bbff00;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}