@*
This file is part of SayedHa.Flashcards.

SayedHa.Flashcards is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SayedHa.Flashcards is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with SayedHa.Flashcards.  If not, see <https://www.gnu.org/licenses/>.
*@
@inject IJSRuntime JsRuntime

@if (gameData?.LettersToDisplay?.Count > 0 && gameData?.LettersToAnnounce?.Count > 0) {
    <section id="findLetterGame">
        <header id="gameDataHeader">
            Find the letter that you hear. Click the speaker to replay the letter.
        </header>
        <section id="gameDataContent">
            @foreach (var item in gameData.LettersToDisplay) {
                <span class="letterBox" @onclick="() => NewClick(item)">
                    &nbsp;<span class="letter" hasBeenSelected="@item.HasBeenSelected">@item.Letter</span>
                </span>
            }
            <audio id="hasWonAudio" preload="auto" loop>
                <source src="media/samay-smile-airpod-football.mp3">
            </audio>
            <audio id="correctChoiceAudio" preload="auto">
                <source src="media/correct-choice.mp3">
            </audio>
            <audio id="wrongAnswerAudio" preload="auto">
                <source src="media/wronganswer.mp3">
            </audio>
            <audio id="excitingDrumLoop" preload="auto" loop>
                <source src="media/exciting-drum-loop-01.mp3">
            </audio>
        </section>
    </section>
}
else {
    <fast-progress-ring>loading...</fast-progress-ring>
}

@code {
    private FindLetterGameData? gameData;

    protected override void OnInitialized() {
        Reset();
    }

    protected override void OnAfterRender(bool firstRender) {
        base.OnAfterRender(firstRender);
        if (firstRender) {
            PlayLetterToAnnounce();
        }
    }

    public void PlayLetterToAnnounce() {
        Console.WriteLine($"PlayLetterToAnnounce, letter: {gameData?.LetterToAnnounce}");
        if(gameData?.LetterToAnnounce == null) {
            Console.WriteLine("PlayLetterToAnnounce: gameData.LetterToAnnounce is null");
            return;
        }
        JsRuntime.InvokeAsync<string>("PlayAudioFromFile", gameData.LetterToAnnounce.AudioFilePath);
    }
    protected FindLetterGameDataItem GetLetterToDisplay(string letter) {
        if(gameData?.LettersToDisplay?.Count > 0) {
            foreach (var item in gameData!.LettersToDisplay) {
                if (item.Letter == letter) {
                    return item;
                }
            }
        }

        return null;
    }

    protected void UserHasWon() {
        Console.WriteLine("UserHasWon");
        JsRuntime.InvokeAsync<string>("PlayAudio", $"hasWonAudio");
        JsRuntime.InvokeAsync<string>("PlayAudio", $"excitingDrumLoop");
    }

    protected void StopAllAudio() {
        JsRuntime.InvokeAsync<string>("StopAudio", $"hasWonAudio");
        JsRuntime.InvokeAsync<string>("StopAudio", $"excitingDrumLoop");
    }

    protected void PlayCorrectChoiceAudio() {
        JsRuntime.InvokeAsync<string>("PlayAudio", $"correctChoiceAudio");
        // wait a half second to allow audio to complete before going on
        Thread.Sleep(300);
    }
    protected void PlayWrongAnswerAudio() {
        JsRuntime.InvokeAsync<string>("PlayAudio", $"wrongAnswerAudio");
        // wait a half second to allow audio to complete before going on
        Thread.Sleep(300);
    }

    public void Reset() {
        var randomizeLettersToDisplay = false;
        var randomizeLettersToAnnounce = true;
        gameData = new FindLetterGameData(randomizeLettersToDisplay, randomizeLettersToAnnounce);
    }

    // events below
    protected void NewClick(FindLetterGameDataItem letterClicked) {
        Console.WriteLine("In NewClick");
        StopAllAudio();
        
        if (gameData!.HasWon()) {
            return;
        }

        var lta = gameData!.LetterToAnnounce?.Letter;
        Console.WriteLine($"letter clicked: {letterClicked.Letter}. Lta: {lta}");

        if (string.Equals(gameData!.LetterToAnnounce?.Letter, letterClicked.Letter)) {
            Console.Write(" *** Match found ***\n");
            PlayCorrectChoiceAudio();
            letterClicked.HasBeenSelected = true;
            if (!gameData.HasWon()) {
                gameData.MoveNextLetterToAnnounce();
                PlayLetterToAnnounce();
            }
            else {
                UserHasWon();
            }
            
        }
        else if (!letterClicked.HasBeenSelected) {
            PlayWrongAnswerAudio();
            PlayLetterToAnnounce();
        }

        StateHasChanged();
    }
}
