<section class="flashcard">
	<img src="@ImageUrl" alt="@Text" class="flashcard-image" />
	<h2 class="flashcard-text">@Text</h2>
</section>


@code {
	[Parameter]
    public string Text { get; set; }
	[Parameter]
    public string ImageUrl { get; set; }
}
