<section class="flashcard">
@if (Flashcard != null)
{
	<img src="@Flashcard.ImageUrl" alt="@Flashcard.Text" class="flashcard-image" />
	@if (Flashcard.ShowText)
	{
	<h2 class="flashcard-text">@Flashcard.Text</h2>
	}
}
else
{
	<span>error</span>
}
</section>


@code {
	[Parameter]
	public SayedHa.Flashcards.Shared.Flashcard Flashcard { get; set; }
}
