
<a asp-controller="ViewSet" asp-action="Index" asp-route-username="sayed" asp-route-setname="letters">Letters</a>
<br/>
<a asp-controller="ViewSet" asp-action="Json" asp-route-username="sayed" asp-route-setname="letters">Letters (json)</a>

